*{
  margin:0;
  padding:0;
}
html{
  font-size: 10px;
}
ul, li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
.board_wrap{
  width: 1000px;
  margin: 100px auto;
}
.board_title{
  margin-bottom: 30px
}
.board_title strong{
  font-size: 3rem;   /*최상위 태그에 곱하기 3 --> 최상위 태그는 html*/
}
.board_title p{
  margin-top: 5px;
  font-size: 1.5rem;
}
.bt_wrap{
  margin-top: 30px;
  font-size: 0;    /*목록 버튼과 수정 버튼 사이 여백이 사라짐*/
  text-align: center;
}
.bt_wrap a{
  display: inline-block;    /*?????????*/
  font-size: 1.5rem;    
  min-width: 80px;    /*최소 괄호 길이 ??????????*/
  margin-left: 10px;
  padding: 10px;    /*??????????*/
  border: 1px solid #000;
  border-radius: 2px;
}
.bt_wrap a:first-child {
  margin-left: 0;    /*38번 줄 margin-left: 10px 해주었으니 왼쪽으로 멀어지지 않고 중앙에 위치하도록*/
}
.bt_wrap a.on{
  background: #000;
  color: #fff;
}
.board_list{
  width: 100%;
  border-top: 2px solid #000;
}
.board_list>div{
  border-bottom: 1px solid #ddd;
  font-size:0;
}
.board_list .top{
  border-bottom: 1px solid #999;
}
.board_list>div:last-child{
  border-bottom:1px solid black;
}
.board_list>div>div{    /*부모의 요소의 폰트 사이즈를 0으로 설정*/
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 1.4rem;
  padding: 15px 0;
}
.board_list .top>div{
  font-weight: 600;
}
.board_list .num{
  width: 10%;
}
.board_list .title{
  width: 60%;
  text-align: left;
}
.board_list .top .title{
  text-align: center;
}

.board_list .writer{
  width: 10%;
}
.board_list .date{
  width: 10%;
}
.board_list .count{
  width: 10%;
}
.board_page{
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}
.board_page a{
  display: inline-block;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-left:0;
  vertical-align: middle;
  line-height: 100%;
}
.board_page a.bt{
  font-size: 1.2rem;
  padding: 9px;
  letter-spacing: -1px;
}
.board_page a.num{
  font-size: 1.4rem;
  padding: 8px;
}
.board_page a.num.on{
  border-color: #000;
  background: #000;
  color: #fff;
}
.board_page .bt.first{
  border: 1px solid #ddd;
}